.loginContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
  min-height: 88vh;
	padding: 16px 24px 0;
}

.loginDisruptiveStudioLogo {
	width: 265px;
}

@media (width >= 768px) {
	.loginFormContainer {
		width: 400px;
	}
}
