.appBarContainer {
  position: fixed;
}

.toolbarContainer {
  display: flex;
  justify-content: space-between;
}

.avatar {
  color: var(--indigo-500);
  background-color: #fff;
  font-weight: bold;
}
