.drawer .MuiDrawer-paper {
	box-sizing: border-box;
	width: var(--drawer-width);
}

.drawerContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.drawerToolbarContainer {
	padding: 0 16px;
}

.dsLogo {
	width: 200px;
}

.listMenu {
  overflow-y: auto;
  flex-grow: 1;
}

.listItemIcon {
	min-width: auto;
	margin-right: 8px;
}
